<template id="header-template">
    <div class="header">
        <div class="container">
            <h1 class="header__title">Smashing '72</h1>
            <p class="header__subtitle">{{ subtitle }}</p>
            <smashing-menu :menu="menu"></smashing-menu>
            <a class="header__button button button--red" href="/over-smashing/lid-worden/">Lid worden?</a>
        </div>
    </div>
</template>
