@using System.Dynamic
@using Newtonsoft.Json
@{
    var news = ViewBag.PageData != null && ViewBag.PageData.News != null ? ViewBag.PageData.News : new List<string>();
}
<template id="homepage-template">
    <div class="container container--flex">
        <div class="news-column">
            <smashing-newsitem v-for="item in pageData.news" :item="item"></smashing-newsitem>
        </div>
        <div class="side-column">
            <a href="https://smashingdiemen.teaco.nl/" class="button button--white">Smashing '72 wedstrijd kleding</a>
        </div>
    </div>
</template>

<script type="application/json" id="page-data">
    {
    "news": @Html.Raw(JsonConvert.SerializeObject(news))
    }
</script>
