<template id="news-template">
    <div class="news">
        News
        <smashing-newsitem></smashing-newsitem>
        <smashing-newsitem></smashing-newsitem>
        <smashing-newsitem></smashing-newsitem>
        <smashing-newsitem></smashing-newsitem>
    </div>
</template>
