<template id="newsitem-template">
    <div class="newsitem">
        <div class="newsitem__title">{{ item.Title }}</div>
        <div class="newsitem__date">{{item.Day}} {{item.MonthName}} {{item.Year}}</div>
        <div class="newsitem__text" v-html="item.Article"></div>
    </div>
</template>
