<template id="submenu-template">
    <div class="submenu" :class="{'submenu--expanded' : expanded}">
        <a :href="'/' + parent.UrlSegment + '/' + item.UrlSegment" v-for="item in items">{{ item.MenuTitle }}</a>
    </div>
</template>
    