/// <reference path="../_variables.scss" />
h1, h2, h3, h4, h5, p, ul, li, html, body {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    margin-bottom: 20px;
}

ul, li {
    list-style-type: none;
}

a, a:visited {
    color: $red;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: darken($red, 10%);
    }
}