/*****VARIABLES**************/

$font-color: #141414;
$red: #FF1A1A;
$light-gray: #E5E5E5;
$medium-gray: #C4C4C4;
$dark-gray: #898989;
$shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

/*****************************/
