/// <reference path="../_variables.scss" />
#app {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    min-height: 100%;
    padding-bottom: 250px;
    position: relative;
    background-image: url('/images/ball.svg');
    background-size: 100% auto;
    background-position-y: 250px;

    &.menu-open {
        overflow: hidden;
        height: 100vh;
    }
}
