/// <reference path="../_variables.scss" />
.container {
    width: 100%;
    margin: 0 auto 20px auto;
    display: flex;


    @media (min-width: 960px) {
        width: 920px;
    }


    @media (min-width: 1200px) {
        width: 1120px;
    }
}
