.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 250px;
    background-color: $medium-gray;

    .container {
        display: flex;
        height: 100%;
    }

    &__content,
    &__maps {
        width: 50%;
    }

    &__maps {
        iframe{
            height: 100%;
            width: 100%;
        }
    }
}
