/// <reference path="../_variables.scss" />
.newsitem {
    margin-bottom: 20px;
    &__title {
        font-size: 18px;
        font-weight: bold;
        color: $red;
    }

    &__date {
        color: $dark-gray;
        font-size: 12px
    }

    &__text {
        margin-top: 10px;
    }
}
