/// <reference path="../_variables.scss" />
.news-column {
    width: 100%;
    float: left;
    flex-shrink: 0;
    margin-bottom: 20px;

    @media (min-width: 960px) {
        width: 75%;
        padding-right: 20px;
        margin-bottom: 0px;
    }
}

.side-column {
    width: 100%;
    float: right;
    flex-shrink: 0;

    @media (min-width: 960px) {
        width: 25%;
    }
}
